<section class="flight_picker">

  <h3>Chose Departure Flight</h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <sup>Wednesday, February 21st</sup>
          <h4>9:00am - 11:00am</h4>
          <h6 class="architect">UP Airway</h6>
        </div>
        <div class="col-xs-12 col-sm-6">
          <b>3h 20m (Nonstop)</b><br>
          Phoenix (Scottsdale Airport, Scottsdale) - Minneapolis (Flying Cloud Airport, Eden Prairie)<br>
          <h4>4 Remaining Seats</h4>
          <a data-toggle="collapse" href="#ce">
            Show seats
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">

          <h5>$725</h5>
          <sup>one way</sup>
          <sup>Free cancel w/in 48hrs</sup>
        </div>
        <div class="col-xs-12 col-sm-2">
          <button class="btn btn-success" {{action "selectSeats"}}>Select</button>
        </div>
      </div>

      <div class="collapse" id="ce">
        <div class="well">
          <img src="/g2_layout_light.png" width="100%">
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <sup>Wednesday, February 21st</sup>
          <h4>6:30pm - 8:30pm</h4>
          <h6 class="architect">UP Airway</h6>
        </div>
        <div class="col-xs-12 col-sm-6">
          <b>3h 20m (Nonstop)</b><br>
          Minneapolis (Flying Cloud Airport, Eden Prairie) - Phoenix (Scottsdale Airport, Scottsdale)<br>
          <h4>4 Remaining Seats</h4>
          <a data-toggle="collapse" href="#cr">
            Show seats
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <h5>$725</h5>
          <sup>one way</sup>
          <sup>Free cancel w/in 48hrs</sup>
        </div>
        <div class="col-xs-12 col-sm-2">
          <button class="btn btn-success" {{action "selectSeats"}}>Select</button>
        </div>
      </div>

      <div class="collapse" id="cr">
        <div class="well">
          <img src="/g2_layout_light.png" width="100%">
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h4>+1 Day</h4>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <sup>Thursday, February 22st</sup>
          <h4>9:00am - 11:00am</h4>
          <h6 class="architect">UP Airway</h6>
        </div>
        <div class="col-xs-12 col-sm-6">
          <b>3h 20m (Nonstop)</b><br>
          Phoenix (Scottsdale Airport, Scottsdale) - Minneapolis (Flying Cloud Airport, Eden Prairie)<br>
          <h4>4 Remaining Seats</h4>
          <a data-toggle="collapse" href="#cf">
            Show seats
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <h5>$725</h5>
          <sup>one way</sup>
          <sup>Free cancel w/in 48hrs</sup>
        </div>
        <div class="col-xs-12 col-sm-2">
          <button class="btn btn-success" {{action "selectSeats"}}>Select</button>
        </div>
      </div>

      <div class="collapse" id="cf">
        <div class="well">
          <img src="/g2_layout_light.png" width="100%">
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <sup>Thursday, February 22st</sup>
          <h4>9:00am - 11:00am</h4>
          <h6 class="architect">UP Airway</h6>
        </div>
        <div class="col-xs-12 col-sm-6">
          <b>3h 20m (Nonstop)</b><br>
          Phoenix (Scottsdale Airport, Scottsdale) - Minneapolis (Flying Cloud Airport, Eden Prairie)<br>
          <h4>4 Remaining Seats</h4>
          <a data-toggle="collapse" href="#cd">
            Show seats
          </a>
        </div>
        <div class="col-xs-12 col-sm-2">
          <h5>$725</h5>
          <sup>one way</sup>
          <sup>Free cancel w/in 48hrs</sup>
        </div>
        <div class="col-xs-12 col-sm-2">
          <button class="btn btn-success" {{action "selectSeats"}}>Select</button>
        </div>
      </div>

      <div class="collapse" id="cd">
        <div class="well">
          <img src="/g2_layout_light.png" width="100%">
        </div>
      </div>
    </div>
  </div>

</section>

{{#if showSeats}}

{{/if}}

