<div>
  <h3 class="color_light">Flying from - <b>MINNESOTA</b></h3>
  <h3 class="color_light">Flying to - <b>ARIZONA</b></h3>
  <br>
  <label class="color_light">Departing</label>
  <br>
  <input type="date"/>
</div>
{{yield}}