<nav class="navbar navbar-default navbar-fixed-top top_nav">
  <div class="container">
    <a href="/" class="navbar-brand color_light logo_img">
      <span class="architect special_letter">UP</span>
    </a>

    <div class="menu_icon hidden-sm hidden-md hidden-lg" {{action "toggleBurger" burger}}>
      <button class="hamburger hamburger--collapse {{burger}}" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <ul class="nav navbar-nav {{hiddenxs}}">
      <li><a href="/#top">Home</a></li>
      <li><a href="#compare">Compare</a></li>
      <li><a href="#routes">Routes</a></li>
      <li><a href="#logistics">Logistics</a></li>
      <li><a href="/account">Account</a></li>
    </ul>

    <span class="navbar-text navbar-right color_light hidden-xs">
      <span class="font_extra_small architect"><b>UP AIRWAY</b> - <i>Lifting you up</i></span>
    </span>
  </div>
</nav>
{{yield}}