$color_light: #fefefe;
$color_medium: #dedede;
$color_dark: #cccccc;
$color_extra_dark: #888888;
$color_space_dark: #555555;
$color_black_transparent: rgba(0,0,0,0.6);
$color_light_transparent: rgba(0,0,0,0.1);
$color_arizona: #d2532a;
$color_minnesota: #2c4a6b;