{{nav-bar}}
<main id="top">
{{outlet}}

  <section class="container">
    <div class="page-header">
      <h1 id="compare">Complimentary Shuttle Service</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="shuttle_route">
          <img src="/mn_shuttle.png" width="100%"/>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="shuttle_route">
          <img src="/mn_shuttle.png" width="100%"/>
        </div>
      </div>
      <p>lorem impsum sdo eu fdsawr dnuqc asdfu dsfu guend.lorem impsum sdo eu fdsawr dnuqc asdfu dsfu guend .
        lorem impsum sdo eu fdsawr dnuqc asdfu dsfu guend. lorem impsum sdo eu fdsawr dnuqc asdfu dsfu guend.</p>
    </div>
  </section>

</main>
{{footer-nav}}