{{nav-bar}}
<main id="top">
  {{outlet}}

  <section class="container" id="about">
    <div class="page-header">
      <h2 id="compare">UP<sup>&trade;</sup> AIRWAY</h2>
      <p>What makes us special? Simplicity...</p>
      <ul>
        <li><h5>FLAT RATE:</h5>
          Each seat costs $725.00 per flight (before tax). Simple.</li>
        <li><h5>FEWER STRANGERS:</h5>
          Each flight is limited to 9 - 11 passengers.</li>
        <li><h5>GOODBYE WAITING:</h5>
          Show up; check-in; board plane; takeoff; no waiting...the way it should be.</li>
        <li><h5>COMFORT:</h5>
          Big seats with plenty of room for legs and elbows.</li>
        <li><h5>CUSTOMER SERVICE:</h5>
          UP Airway actually respects our customers (unlike big airlines).</li>
      </ul>
      <p>Customer service is lacking in the air transportation business, but <b>UP<sup>&trade;</sup></b> is bringing it back!
        Each flight features red carpet style customer service.</p>
      <br>
      <h4 data-toggle="collapse" data-target="#boarding" class="big_pad">
        Boarding Procedure <i class="fas fa-plus-circle"></i></h4>
      <div class="collapse" id="boarding">
        <p>Get excited about flying again, because we're bringing back the glits and glam.</p>
        <p>Things happen fast at UP Airway, but play it safe, and plan to arrive 30 minutes prior to takeoff.
        When you enter the airport follow the (UP Airway) arrows - they lead to a desk where you will physically check-in.
        At the desk we do a quick sweep of your baggage to make sure you have no contraband (drugs, guns, bombs...the usual stuff).
          After inspection you will be provided a lanyard; carry it close - it is your boarding pass!</p>
        <p>At this point you can make your way past the desk, and out the door. Follow the red carpet to the UP Airway Jet.
          Red carpet customer experience is provided on every flight (we literally roll a red carpet). When you reach the
          plane your pilots will greet you. Show them your passes. Pose for a quick Facebook picture, take a selfie, or skip
          the pics and go straight into the plane.</p>
        <p>Flight time is roughly 3.5 hours. There are no stewarts, so make yourself at home (the fridge is up front, bathroom
          is in the back, iPads are in the seats with the wifi password printed on the back).</p>
        <small>During flight, please be
          respectful of others around you. No smoking, public drunkenness, physical outbursts, etc...just chill.</small>
      </div>
      <br>
    </div>
  </section>

  <section class="container" id="routes">
    <div class="page-header">
      <h2 id="compare">Routes</h2>
      <p>We currently offer 2 routes:</p>
      <ul>
        <li>Flying Cloud Airport, Eden Prairie, Minnesota ←→ Scottsdale Airport, Scottsdale, Arizona</li>
        <li>Flying Cloud Airport, Eden Prairie, Minnesota ←→ Miami Executive Airport, Miami, Florida</li>
      </ul>
      <div style="width: 50%; margin: 0 auto;">
        <img src="/routes2.gif" width="100%"/>
      </div>
    </div>
  </section>

  <section class="container" id="shuttle">
    <div class="page-header">
      <h2 id="compare">Ground Shuttle Service</h2>
      <p>After de-boarding the airplane, you can use our ground shuttle service or arrange for other transportation.</p>
      <p>Planning to rent a vehicle when you reach your destination? We can help with that. Our continuous ground
        shuttle service provides ground transporation <b>from</b> the airport to nearby popular vehicle rental stations.
        Rental stations positioned along the red route path in the images below are available dropoff points our ground
        shuttle service.</p>
      <small>Ground Shuttle Service <i>from</i> the airport:</small>
      <div class="row">
        <div class="col-sm-4">
          <div class="shuttle_route">
            <img src="/az_shuttle.png" width="100%" height="330px"/>
            <span>Arizona Shuttle Line</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="shuttle_route">
            <img src="/fl_rentals.png" width="100%"/>
            <span>Florida On-Site Rentals</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="shuttle_route">
            <img src="/mn_shuttle.png" width="100%"/>
            <span>Minnesota Shuttle Line</span>
          </div>
        </div>
        <div class="col-xs-12">
          <p>We do not provide a continuous shuttle service <b>to</b> the airport. However, we can help accommodate those
            whom request special attention for ground travel to the airport.</p>
        </div>
        <br>
        <blockquote>Please call 612-655-3606 if you would like to speak
          with someone about your specific ground travel arrangement needs.
        </blockquote>
      </div>
    </div>
  </section>

  <section class="container" id="gallery">
    <div class="page-header">
      <h2>Gallery</h2>
      <div class="col-xs-12">
        <sup>These images accurately present a Bombardier 600, but do not perfectly represent our aircraft.</sup>
        <p>Routes are traveled via the Bombardier 600. This aircraft is extremely spacious compared
          to other private jets. Technical specifications:</p>
          <div class="row hidden-xs hidden-sm">
            <div class="col-xs-12 col-sm-2 col-sm-offset-3">
              <br>
              <h6>Cabin Height:</h6> 6 ft 1 in<br><br>
              <h6>Cabin Width:</h6> 8 ft 2 in
            </div>
            <div class="col-xs-12 col-sm-2">
              <img src="/aircraft/dimension.png" alt="New york" style="height: 100px;">
              <br><br>
            </div>
            <div class="col-xs-12 col-sm-3">
              <br>
              <h6>Cabin Length:</h6> 28 ft 4 in<br><br>
              <h6>Passengers:</h6> 9 - 11
            </div>
          </div>
          <div class="row hidden-md hidden-lg">
            <div class="col-xs-12">
              <h6>Cabin Height:</h6> 6 ft 1 in<br>
              <h6>Cabin Width:</h6> 8 ft 2 in<br>
              <h6>Cabin Length:</h6> 28 ft 4 in<br>
              <h6>Passengers:</h6> 9 - 11<br><br>
            </div>
          </div>
      </div>

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
          <li data-target="#myCarousel" data-slide-to="9"></li>
          <li data-target="#myCarousel" data-slide-to="10"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active"><img src="/aircraft/ext1.jpg" alt="Los Angeles" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/ext2.jpg" alt="Chicago" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/fwd.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/galley.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/lav.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/aft.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/aftbag.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/panel.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/side.jpg" alt="New york" style="width:70%;"></div>
          <div class="item"><img src="/aircraft/diva.jpg" alt="New york" style="width:70%;"></div>
        </div>

        <div class="gallery_control text-center">
          <!-- Left and right controls -->
          <a class="left" href="#myCarousel" data-slide="prev">
            <i class="far fa-arrow-alt-circle-left"></i>
          </a>
          <a class="right" href="#myCarousel" data-slide="next">
            <i class="far fa-arrow-alt-circle-right"></i>
          </a>
        </div>
        <br>
        <br>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="page-header">
      <h2 id="compare">Specials</h2>
      <p>Fly <b>UP<sup>&trade;</sup></b> 10 times, get 1 free seat on your 11th flight.</p>
    </div>
  </section>

</main>
{{footer-nav}}