<section>
  {{#jumbo-search success=true}}
    <h2>Thank you for preparing a trip with us!</h2>
    <br>
    <blockquote>This was just a simulation. We do not offer this service yet.</blockquote>
    <p>
      We are working very hard to bring this service to you as quickly as possible.
      The prices reflected in this simulation accurately represent what will be
      offered once we are operational.
    </p>
    <br>
    <!--blockquote class="yan_kaff">"We provide private flights at commercial prices." -
      <b>UP</b> <span class="font_small">CEO</span>, Michael Geatz</blockquote-->
    <h3>Join Our Mailing List</h3>
    <br>
    <input type="text" class="input_text" placeholder="Email" value={{email_address}}/>
    <button class="btn btn-success" {{action "thankYou"}}>Sign Up</button>
    <br><br>
    <p>We only send 1 email a month. Our monthly email contains Services information,
      Special Promos, and an updated company well-being executive summary.</p>
  {{/jumbo-search}}
</section>
