<section>
  {{#jumbo-search success=true}}
    <h2>Thank you for preparing a trip with us!</h2>
    <h4>This was just a simulation; we do not offer this service yet.</h4>
    <p>
      We are working very hard to bring this service to you as quickly as possible.
      The prices reflected in this simulation accurately represent what will be
      offered once we are operational.
    </p>
    <br><br>
    <p class="yan_kaff">"We provide private flights at commercial prices." -
      <b>UP</b> <span class="font_small">CEO</span>, Michael Geatz</p>

    <br><br>

    <h3>Keep up with our progress.</h3>
    <sup>Join Our Mailing List</sup>
    <br><br>
    <input type="text" class="input_text" placeholder="Email" value={{email_address}}/><br>
    <button class="btn btn-success" {{action "thankYou"}}>Sign Up</button>
  {{/jumbo-search}}
</section>
